<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="container">
<!--     <form method="POST" action="create/">
        {% csrf_token %}
        <table>
         {{userform}}   
        </table>
        
        <p>
            <label>Wtite Your review</label><br>
            <input type="text" name="text" />
        </p>
        <input type="submit" value="Сохранить" >
    </form> -->


    <div class="pb-cmnt-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-body">
                            <form method="POST" action="create/" class = "form-inline">
                                    {% csrf_token %}

                                    {{userform}}
                                    <!-- <table>
                                        {{userform}}   
                                    </table> -->
                            <input type="submit" value="Сохранить" class = 'button'>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if review.count > 0 %}

<div class = 'review_section'> 
    <h2>Reviews</h2>
    {% for rews in review %}

    <div class = 'review' 
    {% if rews.length %} style='background-color:#9ae790' {% endif %}
    {% else % } style='background-color:#d38e97' 
     >

        <p> {{rews.text}} </p>
        <p> {{rews.length}}</p>

    </div>

    {% endfor %}
<!-- 
    <ul>

        {% for rews in review %}
        <li>
        <p>{{rews.text}}</p>
        <p> {{rews.length}}</p>
        </li>
        {% endfor %}

    </ul> -->

</div>
    {% endif %}

</body>
</html>

